body {
    min-height: 100vh;
    background-color: rgb(37, 44, 74) !important;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}

[id*="answer"] {
    border-radius: 5px;
}

.quiz-card {
    width: 30rem;
}

.question-footer {
    display: flex;
    justify-content: space-between;
}

.btn-primary {
/*     background-color: rgb(37, 44, 74) !important;
 */    border: none !important;

}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.bg-success, .bg-danger {
    color: white;
}




























